//@import '../../public/media/Closeup-of-girls-back-before-massage-665270672_3735x2490\ 1.jpg'

.wrapper {
    height: 1080px;
    background: url('../../public/media/Closeup-of-girls-back-before-massage-665270672_3735x2490\ 1.jpg');
    font-size: 30px;
}
.header {
    opacity: 0.5;
    height: 127px;
    background-color: rgb(37, 33, 33);
}